<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Contact</span>
                <h2 class="cs-title">Heb je belangstelling voor een schilderij of wil je iets in opdracht laten maken, neem dan contact op!</h2>
            </div>
            <div class="cs-button-box">
                
                <a href="/contact" class="cs-button-transparent">Contact</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../../assets/images/rodeautocuba.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../../assets/images/rodeautocuba.webp">
        <img loading="lazy" decoding="async" src="../../assets/images/rodeautocuba.webp" alt="mechanic" width="1280" height="568">
    </picture>
</section>
                                