---
title: '2D Schilderijen'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: '2dschilderijen/'
eleventyNavigation:
    key: 2D Schilderijen
    order: 3200
    parent: Schilderijen
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/2dschilderijen.css">
    <link rel="stylesheet" href="/assets/css/critical.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">2D Schilderijen</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../../assets/images/Banner-foto-katerbargartgallery.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../../assets/images/Banner-foto-katerbargartgallery.webp">
        <img loading="lazy" decoding="async" src="../../assets/images/Banner-foto-katerbargartgallery.webp" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

    <!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1354">
    <div class="cs-container">
        <div class="cs-content">
          
            <h2 class="cs-title">De 2D Schilderijen Collecties</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/bodyandsoul" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span"></span> Body And Soul</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="../../assets/images/stippen.webp">
                    <source media="(min-width: 601px)" srcset="../../assets/images/stippen.webp">
                    <img decoding="async" src="../../assets/images/stippen.webp" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/music" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span"></span> Music</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="../../assets/images/music.webp">
                    <source media="(min-width: 601px)" srcset="../../assets/images/music.webp">
                    <img decoding="async" src="../../assets/images/music.webp" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/colors" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span"></span> Colors</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="../../assets/images/she is a mistery.webp">
                    <source media="(min-width: 601px)" srcset="../../assets/images/she is a mistery.webp">
                    <img decoding="async" src="../../assets/images/she is a mistery.webp" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/ruwhout" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span">Ruw</span> Hout</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="../../assets/images/thumbnail_Ruw Hout Maradonna.jpg">
                    <source media="(min-width: 601px)" srcset="../../assets/images/thumbnail_Ruw Hout Maradonna.jpg">
                    <img decoding="async" src="../../assets/images/thumbnail_Ruw Hout Maradonna.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
            
            </li>
            <li class="cs-item">
                <a href="/divers" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span"></span> Divers</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="../../assets/images/dansblauw.webp">
                    <source media="(min-width: 601px)" srcset="../../assets/images/dansblauw.webp">
                    <img decoding="async" src="../../assets/images/dansblauw.webp" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
                
            </li>
            <li class="cs-item">
                <a href="/cuba" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span"></span> Cuba</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="../../assets/images/autocuba.webp">
                    <source media="(min-width: 601px)" srcset="../../assets/images/autocuba.webp">
                    <img decoding="async" src="../../assets/images/autocuba.webp" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
                
            </li>
            <li class="cs-item">
                <a href="/opdrachten" class="cs-link">
                    <h3 class="cs-h3"><span class="cs-span"></span> Opdrachten</h3>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="https://lirp.cdn-website.com/ccde371b/dms3rep/multi/opt/27946717_1686058334770411_1691159987_o-65997e6a-403w.jpg">
                    <source media="(min-width: 601px)" srcset="https://lirp.cdn-website.com/ccde371b/dms3rep/multi/opt/27946717_1686058334770411_1691159987_o-65997e6a-403w.jpg">
                    <img decoding="async" src="../../assets/images/speed.webp" alt="construction" width="305" height="305" aria-hidden="true">
                </picture>
                
            </li>
        </ul>
    </div>
</section>
                                
    
                                                       

{% endblock %}