---
title: 'Contact '
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Contact</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../../assets/images/Banner-foto-katerbargartgallery.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../../assets/images/Banner-foto-katerbargartgallery.webp">
        <img loading="lazy" decoding="async" src="../../assets/images/Banner-foto-katerbargartgallery.webp" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1388">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Contact</h2>
            <p class="cs-text">
                
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    
                    
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="mailto:janskaterbarg@kpnmail.nl" class="cs-link">janskaterbarg@kpnmail.nl</a>
                    </div>
                </li>
            
            </ul>
            <img aria-hidden="true" src="../../assets/images/jansmetcubaan.webp" alt="address icon" class="cs-icon2" width="40" height="40" decoding="async">
            <style>
                .cs-icon2 {
    width: 300px; /* Groter maken */
    height: 300px;
    border-radius: 50%; /* Rond maken */
    margin-top: 30px;                
    right: 20px; /* Naar de rechterkant verplaatsen */
    top: 10px; /* Optioneel: een beetje van de bovenkant af */
}

            </style>
       
</section>
                                


{% endblock %}